@font-face {
    font-family: basictitlefont;
    src: url(basictitlefont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
		margin: 0;
		padding: 0;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #313131;
		background-color: #E6E6E6;
}

h1,
h2,
h3,
h4 {
		margin: 0;
		padding: 0;
		align-self: center;
}

h1 {
		font-size: 3em;
		font-family: basictitlefont;
}

ul {
		margin: 0;
		padding: 0;
}

#wrapper {
		display: flex;
		flex-direction: column;
}

#contentwrapper {
		display: flex;
		flex-direction: row;
}

#topmenu {
		display: flex;
		justify-content: center;
		height: 60px;
		flex-direction: column;
		margin-top:30px;
}

#filterbar {
		display: flex;
		flex-direction: column;
		min-width: 150px;
		margin-left:30px;
		margin-right:30px;
		line-height: 30px;
}

#peoplelist {
		display: flex;
		flex: 1;
}

#activitylist {
		min-width: 250px;
		flex-direction: column;
		margin-right: 10px;
}

ul.people {
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
}

ul.people li {
		height: 130px;
		width: 130px;
		display: inline-block;
		margin-left: 10px;
		margin-right: 12px;
		margin-bottom: 20px;
		background-color: lightgray;
		border-radius:10px;
	    display: flex;
	    flex-direction: column;
	    align-items: baseline;
	    justify-content: flex-end;
		border:solid 5px #94D69F;
		position:relative;
}

.filteroptions {
		font-size: 20px;
		font-weight: bold;
		list-style-type: none;
		align-self: center;
}

#peoplecontainer {
		flex-direction: row;
		min-width:500px;
}

#morepeople {
		display: flex;
}

#morepeople p {
		align-self: center;
}

.toggle:hover{
	background-color:#1b8aba;
	cursor: pointer;
}

.toggle.selected {
		cursor: pointer;
		border:solid 5px #fff;
		color:#000;
}
.toggle.selected:after {
		color:#000;
		background:#FFF;
		opacity:0.4;
		z-index:2;
		height:100%;
		width:100%;
		content:"";
		position:absolute;
		top:0px;
}


.list {
		margin: 0;
		padding: 20px 0 0;
}

.list > li {
		display: block;
		background-color: #eee;
}

.avatar {
		max-width: 150px;
}

img {
		max-width: 100%;
}

h3 {
		font-size: 16px;
		margin: 0 0 0.3rem;
		font-weight: normal;
		font-weight: bold;
}

p {
		margin: 0;
}

input {
		border: solid 1px #ccc;
		border-radius: 5px;
		padding: 7px 14px;
		margin-bottom: 10px
}

input:focus {
		outline: none;
		border-color: #aaa;
}

.sort {
		padding: 0px 0px;
		margin-left: 10px;
		margin-bottom: 10px;
		background:#1B8ABA;
		border: none;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		height: 35px;
}

.sort:hover {
		text-decoration: none;
		background-color: #1b8aba;
}

.sort:focus {
		outline: none;
}

.sort:after {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid transparent;
		content: "";
		position: relative;
		top: -10px;
		right: -5px;
}

.sort.asc:after {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #fff;
		content: "";
		position: relative;
		top: 13px;
		right: -5px;
}

.sort.desc:after {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #fff;
		content: "";
		position: relative;
		top: -10px;
		right: -5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
	                              not supported by any browser */
}

.name{
	font-weight:bold;
	font-size:1.1em;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	z-index:5;
}

#personname{
	height: 100vh;
	overflow:hidden;
	font-size:0.9em;
}

.peoplenr{
	font-weight:bold;
	margin-bottom:10px;
}

.timestamp{
	color:#9E9E9E;
	margin-bottom:10px;
}

button.sort{
	border-radius:5px;
	font-weight:bold;
}


.cover{
	background-size:cover;
}

ul.people li p{
	background:rgba(255,255,255,0.70);
	border-radius:2px;

	padding-right:3px;
	padding-left:3px;
}
	
.personmessage:first-of-type{
	color:#0987BC;
	font-weight:bold;
}
.name{
	font-size:0.9em;
}
.job{
	font-size:0.8em;
	margin-left:5px;
	margin-bottom:5px;
	z-index:6;
}

.hidebutton{
	cursor:pointer;
	background:#0987BC;
	color:white;
	border-radius:8px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	position:absolute;
	right:30px; 
	top:30px;
	font-size:.8em;
}

.hidebutton:hover
{
	text-decoration:underline;
}

/* START of mediaquery */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) { 
html{
	font-size:0.9em;
}
	
ul.people li{
	width:100px;
	height:100px;
	margin-right:15px;
	margin-left:0;
}
.name{
	font-size:1em;
}

#activitylist{
	min-width:190px;
	margin-right:10px;
}
#peoplecontainer{
	margin-left:0;
}
/* END of mediaquery */
}